@(id: Long, computerForm: Form[Computer], companies : Seq[(String, String)], reviews : Seq[Review])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit computer</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
            @inputText(computerForm("name"), '_label -> "Computer name")
            @inputText(computerForm("introduced"), '_label -> "Introduced date")
            @inputText(computerForm("discontinued"), '_label -> "Discontinued date")
            
            @select(
                computerForm("company"), 
                companies, 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this computer" class="btn danger">
    }

    <h2>Reviews</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Username</th>
            <th>Score</th>
            <th>Comment</th>

    @reviews.map {
        case review => {
            <tr>
                <td>@review.timestamp.format("dd MMM yyyy")</td>
                <td>@review.username</td>
                <td>@review.score</td>
                <td>@review.comment</td>
            </tr>
        }
    }
    </table>
}
